@model HTQLCCCD.Models.requirement

@{
    ViewBag.Title = "Giải Quyết Yêu Cầu";
    Layout = "~/Areas/Authorities/Views/Shared/_LayoutCQ.cshtml";

}

<div style="margin-left: 150px; margin-top: 50px;">
    @Html.ActionLink("Quay lại", "Index")
</div>
<div style="display:flex;">
    <div style="margin: 20px; width: 70%;">

        @using (Html.BeginForm("Solve", "Required", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Chỉnh sửa thông tin</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.citizen.Id)
            @Html.HiddenFor(model => model.citizen.Number)


            <div class="form-group">
                <label class="control-label col-md-2">Họ và tên</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.citizen.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.citizen.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Giới tính</label>
                <div class="col-md-12">
                    <select name="Sex" class="form-control">
                        <option value="true" @(Model.citizen.Sex == true ? "selected" : "")>Nam</option>
                        <option value="false" @(Model.citizen.Sex == false ? "selected" : "") )>Nữ</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ngày sinh</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.citizen.Date_of_birth, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(model => model.citizen.Date_of_birth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Quê quán</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.citizen.Place_of_origin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.citizen.Place_of_origin, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Nơi cư trú</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.citizen.Place_of_residence, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.citizen.Place_of_residence, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Công việc</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.citizen.job, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.citizen.job, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Hôn nhân</label>
                <div class="col-md-12">
                    <select name="Married" class="form-control">
                        <option value="true" @(Model.citizen.Married == true ? "selected" : "")>Đã kết hôn</option>
                        <option value="false" @(Model.citizen.Married == false ? "selected" : "")>Chưa kết hôn</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Nhập ngũ</label>
                <div class="col-md-12">
                    <select name="Join_military" class="form-control">
                        <option value="true" @(Model.citizen.Join_military == true ? "selected" : "")>Đã kết hôn</option>
                        <option value="false" @(Model.citizen.Join_military == false ? "selected" : "")>Chưa kết hôn</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Số ID bố</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.citizen.Father, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.citizen.Father, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Số ID mẹ</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.citizen.Mother, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.citizen.Mother, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Chỉnh sửa" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </div>
    <div style="margin: 20px; margin-top: 80px;">
        <h4 style="margin-bottom: 30px;">Công dân yêu cầu sửa nội dung sau:</h4>
        @foreach(string i in ViewBag.re )
        {
            <p style="margin: 10px;">@i</p>
        }
    </div>
</div>




