@model IEnumerable<HTQLCCCD.Models.authority>

@{
    int i = 1;
    ViewBag.Title = "Cơ Quan Chính Quyền";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAD.cshtml";
}

<div class="container">
    <h2 class="my-4">Tìm kiếm</h2>
    <form class="d-flex" action="~/Admin/Authorities/Search">
        <input type="text" class="form-control mr-2" id="searchInput"
               placeholder="Nhập từ khóa như tên, quê quán." name="s">
        <button type="submit" class="btn btn-primary" style="width: 200px; height: 38px;">Tìm kiếm</button>
    </form>
</div>

<div class="container" style="margin: 30px;">
    <h3>Danh sách cơ quan chính quyền hiện có trong hệ thống</h3>
</div>
<p style="margin-left: 50px; margin-bottom: 30px; text-decoration: underline;">
    @Html.ActionLink("Thêm cơ quan chính quyền vào hệ thống", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th scope="col">
            Số TT
        </th>
        <th scope="col">
            Họ và tên
        </th>
        <th>
            Giới tính
        </th>
        <th scope="col">
            Ngày sinh
        </th>
        <th scope="col">
            Quê quán
        </th>
        <th scope="col">
            Nơi cư trú
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(i++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if(item.Sex == true)
            {
                <td>Nam</td>
            }
            else
            {
                <td>Nữ</td>
            }


            <td>
                @item.Date_of_birth.Value.Day/@item.Date_of_birth.Value.Month/@item.Date_of_birth.Value.Year
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place_of_origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place_of_residence)
            </td>

            <td style="text-decoration: underline;">
                @Html.ActionLink("Tài khoản", "Account", new { id = item.Id }) |
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


