
@model HTQLCCCD.Models.citizen

@{
    ViewBag.Title = "Xem Trang Cá Nhân";
    Layout = "~/Areas/Citizen/Views/Shared/_Layout.cshtml";
}


<h4 class=" Title_Account">Thông Tin Cá Nhân</h4>
<table class="styled-table">
    <tr>
        <th>Số CCCD</th>
        <td>@Model.Number</td>
    </tr>
    <tr>
        <th>Họ và Tên</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Giới tính</th>
        @if (Model.Sex == true)
        {
            <td>Nam</td>
        }
        else
        {
            <td>Nữ</td>
        }
    </tr>
    <tr>
        <th>Ngày sinh</th>
        <td>@Model.Date_of_birth.Value.Day / @Model.Date_of_birth.Value.Month / @Model.Date_of_birth.Value.Year</td>
    </tr>
    <tr>
        <th>Quê quán</th>
        <td>@Model.Place_of_origin</td>
    </tr>
    <tr>
        <th>Nơi cư trú</th>
        <td>@Model.Place_of_residence</td>
    </tr>
    <tr>
        <th>Công việc</th>
        <td>@Model.job</td>
    </tr>
    <tr>
        <th>Tình trạng hôn nhân</th>
        @if (Model.Married == true)
        {
            <td>Đã kết hôn</td>
        }
        else
        {
            <td>Chưa kết hôn</td>
        }
    </tr>
    <tr>
        <th>Họ và tên bố</th>
        @if (@Model.citizen2 != null)
        {
            <td>@Model.citizen2.Name</td>
        }
        else
        {
            <td></td>
        }
    </tr>
    <tr>
        <th>Ngày sinh bố</th>
        @if (@Model.citizen2 != null)
        {
            <td>@Model.citizen2.Date_of_birth.Value.Day / @Model.citizen2.Date_of_birth.Value.Month / @Model.citizen2.Date_of_birth.Value.Year</td>
        }
        else
        {
            <td></td>
        }
    </tr>
    <tr>
        <th>Họ và tên mẹ</th>
        @if (@Model.citizen3 != null)
        {
            <td>@Model.citizen3.Name</td>
        }
        else
        {
            <td></td>
        }
    </tr>
    <tr>
        <th>Ngày sinh mẹ</th>
        @if (@Model.citizen3 != null)
        {
            <td>@Model.citizen3.Date_of_birth.Value.Day / @Model.citizen3.Date_of_birth.Value.Month / @Model.citizen3.Date_of_birth.Value.Year</td>
        }
        else
        {
            <td></td>
        }
    </tr>
</table>


<input type="checkbox" id="expand-checkbox" class="expand-checkbox">
<label for="expand-checkbox" class="expand-label">Bạn có tiền án</label>
<div class="expandable-content">
    <table style="border-collapse: collapse; width: 80%; border: 1px solid #ddd; margin-left: auto; margin-right: auto;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="border: 1px solid #ddd; padding: 8px; width: 50px;">STT</th>
                <th style="border: 1px solid #ddd; padding: 8px;">Tiền án</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= Model.criminal_record.Count; i++)
            {
                <tr>
                    <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">@i</td>
                    <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">@Model.criminal_record.ToList()[i-1].Crime</td>
                </tr>
            }

        </tbody>
    </table>
</div>