@model IEnumerable<HTQLCCCD.Models.notification>

@{
    ViewBag.Title = "Quản lý thông báo";
    Layout = "~/Areas/Authorities/Views/Shared/_LayoutCQ.cshtml";
    int i = 1;
}

<h2 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Thông báo đã tạo</h2>

<p style="margin-bottom: 30px; margin-left: 30px;">
    @Html.ActionLink("Tạo thông báo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Số TT
        </th>
        <th>
            Nội dung
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(i++)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purport)
        </td>
        <td>
            @Html.ActionLink("Gửi đến công dân", "SendTo", new { id=item.Id }) |
            
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
