@model HTQLCCCD.Models.account

@{
    ViewBag.Title = "Tài Khoản Công Dân";
    Layout = "~/Areas/Authorities/Views/Shared/_LayoutCQ.cshtml";
}



<div class="container" style="margin-top: 50px;">
    <h4 style="text-align:center; margin-bottom: 30px;">Tài khoản</h4>
    <hr />
    <dl class ="row" >
        <dt class="col-sm-3">
            Tài khoản
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.User_name)
        </dd>

        <dt class="col-sm-3">
            Mật khẩu
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Password)
        </dd>


        <dt class="col-sm-3">
            Số ID
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id_user)
        </dd>

    </dl>
</div>

<div style="margin-left: 200px; margin-top: 50px;">
    @if (Model != null)
    {
        @Html.ActionLink("Chỉnh sửa", "EditAC", new { id = Model.Id })
    }
    else
    {
        @Html.ActionLink("Tạo tài khoản", "CreateAC", new { id = ViewBag.Id })

    }

    <p style="margin-top: 30px;">
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>


